---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{ di_k8s_image_pull_secret }}
  namespace: {{ di_k8s_namespace }}
  labels:
    app.kubernetes.io/name: hammerspace-di
    app.kubernetes.io/managed-by: ansible-tier0
data:
  .dockerconfigjson: {{ _di_k8s_dockerconfigjson_b64 }}
