---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ di_k8s_namespace }}
  labels:
    pod-security.kubernetes.io/enforce: {{ di_k8s_psa_level }}
    pod-security.kubernetes.io/audit: {{ di_k8s_psa_level }}
    pod-security.kubernetes.io/warn: {{ di_k8s_psa_level }}
    app.kubernetes.io/name: hammerspace-di
    app.kubernetes.io/managed-by: ansible-tier0
